body{
    background-color: black;
    font-family: sans-serif;
}
#wrapper{
    position:relative; 
    margin: 0 auto 0 auto;
    width: 90%;
    height: 100%;
    background-color: rgb(6, 18, 99);
}

.menu-photo{
    width: 100%;
}
.menu-nav{
    width: 100%;


}
.wstep{
    border-top: 4px solid red;
    border-bottom: 4px solid green;
   /* border-image-source: url(https://www.vhv.rs/dpng/d/5-58904_luke-skywalker-lightsaber-hd-png-download.png);
    border-image-slice: 1; */
   text-align: center;
   color: rgb(253, 255, 142);
   padding-top: 20px;
   padding-bottom: 25px;
}



a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    margin-top: 30px;
      font-size: 20px;
      position: absolute;
      left: 2px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
  }
  
  .next {
      margin-top: 17px;
    font-size: 25px;
      position: absolute;
      right: 2px;
    background-color: green;
    color: white;
  }

.klatka{
    
    background-color: rgb(25, 20, 97) ;
    margin-left: 10%;
 margin-right: 10%;
 margin-top: 30px;
 margin-bottom: 20px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid rgb(70, 79, 255);
    border-radius: 10px;
    font-size: 17px;
    color:rgb(252, 248, 52);
    min-height: 10em;
}

.klatka h2{
    font-size: 30px;
}

.filmy{
    background-color: rgb(28, 42, 131) ;
    border: solid rgb(70, 79, 255);
    border-radius: 5px;
}

.img-klatka{
    max-width: 40%;
    max-height: 9em;
    margin-top: 15px;
    margin-bottom: 13px;
    margin-right: 10px;
    float: right;
    border: solid rgb(70, 79, 255);
}

.historia .img-klatka{
    max-height: 40em;
    min-height: 30em;
    max-width: 50%;
    margin-top: 30px;
    margin-left: 10px;
}

.img-klatka2{
    max-width: 40%;
    max-height: 9em;
   
    float: left;
    border: solid rgb(70, 79, 255);
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.polowki{
    min-height: 21em;
    margin-top: 2px;
    margin-bottom: 50px;
    height: 33em;
    max-height: 50em;
}

.pierwszy { 
    background-color: rgb(28, 42, 131) ;
    margin-left: 10%;
    width: 25%; 
    min-height: 20em; 
    float: left;
    border: solid blue;
    border-radius: 10px;
    color:rgb(252, 248, 52);
    padding-left: 8px;
}
  
  .drugi { 
    background-color: rgb(28, 42, 131) ;
      width: 25%;
     min-height: 20em; 
    float: left; 
    margin-left: 1%;  
    border: solid blue;
    border-radius: 10px;
    color:rgb(252, 248, 52);
    padding-left: 8px;
  }
  .trzeci { 
    background-color: rgb(28, 42, 131) ;
      width: 25%;
     min-height: 20em; 
    float: left; 
    margin-left: 1%; 
    border: solid blue;
    border-radius: 10px;
    color:rgb(252, 248, 52);
    padding-left: 8px;
  }  

.troje{
        max-width: 95%;
        max-height: 9em;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-right: 10px;
        float: right;
     border: solid rgb(70, 79, 255);
}
.spis{
    width: 100%;
}
footer{
    background-color: rgb(32, 41, 102);
    color: gray;
    height: 20px;
}